.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #184645, #0f2c2b);
  color: #ffffff;
  text-align: center;
}
.color-circle.selected {
  border: 3px solid black;
}

.size-btn.selected {
  background-color: black;
  color: white;
}

.loading-icon {
  font-size: 50px;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.loading-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 15px;
  opacity: 0.8;
}

.title {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Green-500, #184645);
  margin-left: 3rem;
  padding-top: 2rem;
}

.product-details {
  display: flex;
  gap: 20px;
  padding: 50px;
}

.product-inf h1 {
  font-family: inter;
  font-weight: 600;
  font-size: 32px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Text-Title, #0f0f0e);
}

.product-images {
  flex: 1;
}

.main-image {
  width: 508px;
  height: 606px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid var(--light-grey-300, #d7d7d7);
}

.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumb {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
}

.product-inf {
  flex: 1;
  padding: 20px;
  border: 1px solid var(--light-grey-300, #d7d7d7);
  border-radius: 2rem;
}

.description {
  font-family: inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Text-Caption, #4d4c4a);
  border-bottom: 1px solid var(--light-grey-300, #d7d7d7);
  margin-bottom: 1rem;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.filled-star {
  width: 16px;
  height: 16px;
  color: var(--Surface-Default, #f58800);
}
.re {
  font-family: inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Text-Subtitle, #242322);
}
.star {
  color: lightgray;
}
.co {
  font-family: inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  text-align: left;
  vertical-align: middle;
  color: var(--Text-Title, #0f0f0e);
}
.color-options {
  display: flex;
  gap: 10px;
  margin-bottom: 2rem;
  border: 2px solid #f0f2f5;
  border-radius: 2rem;
  padding: 1rem;
}

.color-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
}
.color-circle:active {
  width: 60px;
  height: 56px;
  border-width: 1px;
  top: 349px;
  left: 1px;
  border-radius: 40px;
  background: #ffece5;
  border: 1px solid var(--Green-400, #3d6463);
}
.size-options {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  border: 2px solid #f0f2f5;
  border-radius: 2rem;
  padding: 1rem;
}
.six {
  font-family: inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Text-Title, #0f0f0e);
}

.size-btn {
  width: 58px;
  height: 44px;
  top: 355px;
  left: 84px;
  border-radius: 40px;
  background: #f0f2f5;
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #475367;
  border: none;
  cursor: pointer;
}
.size-btn:active {
  width: 70px;
  height: 56px;
  border-width: 1px;
  top: 349px;
  left: 1px;
  border-radius: 40px;
  background: #ffece5;
  border: 1px solid var(--Green-400, #3d6463);
}

.quantity-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
  margin-bottom: 15px;
}
.quan {
  font-family: inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #101928;
}
.quantity-paren {
  display: flex;
  align-items: center;
}

.quantity-box {
  width: 100.76470947265625px;
  height: 56px;
  gap: 38px;
  border-radius: 24px;
  padding: 14px;
  font-family: inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -2%;
  vertical-align: middle;
  color: var(--Green-400, #3d6463);
  background: var(--light-grey-100, #eaeaea);
}

.quantity-btn {
  font-family: inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -2%;
  vertical-align: middle;
  color: var(--Green-400, #3d6463);
  background: transparent;
  border: none;
}

.quantity {
  padding: 10px 17px;
}

.stock-msg {
  color: red;
  font-weight: bold;
  margin-left: 1rem;
}

.actions {
  display: flex;
  gap: 10px;
}

.buy-now,
.add-to-cart {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.buy-now {
  width: 194px;
  height: 55px;
  gap: 10px;
  border-radius: 30px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background: var(--Green-500, #184645);
  border: none;
}

.add-to-cart {
  width: 194px;
  height: 55px;
  gap: 10px;
  border-width: 1.5px;
  border-radius: 30px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  background: #ffffff;
  border: 1.5px solid var(--Green-400, #3d6463);
  color: var(--Green-400, #3d6463);
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.free-delivery {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 570px;
  height: 76px;
  gap: 32px;
  border-radius: 8px;
  border-width: 1px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border: 1px solid var(--Green-50, #becbcb);
  margin-top: 5rem;
}
.deli1 {
  font-family: inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Text-Subtitle, #242322);
}
.deli2 {
  font-family: inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: var(--Text-Caption, #4d4c4a);
}
.like {
  font-family: inter;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -2%;
  vertical-align: middle;
  color: var(--Text-Title, #0f0f0e);
  margin-left: 2rem;
}

@media screen and (max-width: 1200px) {
  /* .product-details {
    display: flex;
    flex-direction: column;
  } */
  .product-inf {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--light-grey-300, #d7d7d7);
    border-radius: 2rem;
    width: 400px;
    margin-left: -1.1rem;
  }
  .main-image {
    width: 400px;
    height: 606px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 1rem;
  }
  .thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
    margin-left: 1rem;
  }
  .free-delivery {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 440px;
    height: 76px;
    gap: 32px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 0.3rem;
    border: 1px solid var(--Green-50, #becbcb);
    margin-top: 3rem;
  }
  /* 
  .deli1 {
    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Text-Subtitle, #242322);
  }
  .deli2 {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: var(--Text-Caption, #4d4c4a);
  }
  .quantity-box {
    width: 100.76470947265625px;
    height: 56px;
    gap: 38px;
    border-radius: 24px;
    padding: 14px;
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Green-400, #3d6463);
    background: var(--light-grey-100, #eaeaea);
  } */
  .like {
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Text-Title, #0f0f0e);
    /* margin-left: 2rem; */
    text-align: center;
  }
  .product-grid {
    display: flex;
    width: fit-content;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin: 0 auto;
    margin-left: 7rem;
  }
  .add-to-cart {
    width: 204px;
    height: 55px;
    gap: 10px;
    border-width: 1.5px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    background: #ffffff;
    border: 1.5px solid var(--Green-400, #3d6463);
    color: var(--Green-400, #3d6463);
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .buy-now {
    width: 194px;
    height: 55px;
    gap: 10px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background: var(--Green-500, #184645);
    border: none;
  }
  .title {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Green-500, #184645);
    /* margin-left: 2rem; */
    padding-top: 2rem;
    /* text-align: center; */
  }
}
@media screen and (max-width: 1050px) {
  /* .product-details {
    display: flex;
    flex-direction: column;
  } */
  .product-inf {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--light-grey-300, #d7d7d7);
    border-radius: 2rem;
    width: 350px;
    margin-left: -1.1rem;
  }
  .main-image {
    width: 400px;
    height: 606px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 1rem;
  }
  .thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
    margin-left: 1rem;
  }
  .free-delivery {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 440px;
    height: 76px;
    gap: 32px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 0.3rem;
    border: 1px solid var(--Green-50, #becbcb);
    margin-top: 3rem;
  }
  /* 
  .deli1 {
    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Text-Subtitle, #242322);
  }
  .deli2 {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: var(--Text-Caption, #4d4c4a);
  }
  .quantity-box {
    width: 100.76470947265625px;
    height: 56px;
    gap: 38px;
    border-radius: 24px;
    padding: 14px;
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Green-400, #3d6463);
    background: var(--light-grey-100, #eaeaea);
  } */
  .like {
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Text-Title, #0f0f0e);
    /* margin-left: 2rem; */
    text-align: center;
  }
  .product-grid {
    display: flex;
    width: fit-content;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin: 0 auto;
    margin-left: 3rem;
  }
  .add-to-cart {
    width: 204px;
    height: 55px;
    gap: 10px;
    border-width: 1.5px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    background: #ffffff;
    border: 1.5px solid var(--Green-400, #3d6463);
    color: var(--Green-400, #3d6463);
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .buy-now {
    width: 194px;
    height: 55px;
    gap: 10px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background: var(--Green-500, #184645);
    border: none;
  }
  .title {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Green-500, #184645);
    /* margin-left: 2rem; */
    padding-top: 2rem;
    /* text-align: center; */
  }
}
@media screen and (max-width: 1000px) {
  .product-inf {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--light-grey-300, #d7d7d7);
    border-radius: 2rem;
    /* width: 300px; */
    margin-left: -1.1rem;
  }
  .main-image {
    width: 400px;
    height: 606px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 1rem;
  }
  .thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
    margin-left: 1rem;
  }
  .free-delivery {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 400px;
    height: 76px;
    gap: 32px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 0.3rem;
    border: 1px solid var(--Green-50, #becbcb);
    margin-top: 3rem;
  }
  /*
  .deli1 {
    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Text-Subtitle, #242322);
  }
  .deli2 {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: var(--Text-Caption, #4d4c4a);
  }
  .quantity-box {
    width: 100.76470947265625px;
    height: 56px;
    gap: 38px;
    border-radius: 24px;
    padding: 14px;
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Green-400, #3d6463);
    background: var(--light-grey-100, #eaeaea);
  } */
  .like {
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Text-Title, #0f0f0e);
    /* margin-left: 2rem; */
    text-align: center;
  }
  .product-grid {
    display: flex;
    width: fit-content;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin: 0 auto;
    margin-left: 3rem;
  }
  .add-to-cart {
    width: 204px;
    height: 55px;
    gap: 10px;
    border-width: 1.5px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    background: #ffffff;
    border: 1.5px solid var(--Green-400, #3d6463);
    color: var(--Green-400, #3d6463);
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .buy-now {
    width: 194px;
    height: 55px;
    gap: 10px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background: var(--Green-500, #184645);
    border: none;
  }
  .title {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Green-500, #184645);
    /* margin-left: 2rem; */
    padding-top: 2rem;
    /* text-align: center; */
  }
}
@media screen and (max-width: 970px) {
  /* .product-details {
    display: flex;
    flex-direction: column;
  } */
  .product-inf {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--light-grey-300, #d7d7d7);
    border-radius: 2rem;
    /* width: 300px; */
    margin-left: -1.1rem;
  }
  .main-image {
    width: 340px;
    height: 606px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 1rem;
  }
  .thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
    margin-left: 1rem;
  }
  .free-delivery {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 300px;
    height: 76px;
    gap: 32px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 0.3rem;
    border: 1px solid var(--Green-50, #becbcb);
    margin-top: 3rem;
  }
  /* 
  .deli1 {
    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Text-Subtitle, #242322);
  }
  .deli2 {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: var(--Text-Caption, #4d4c4a);
  }
  .quantity-box {
    width: 100.76470947265625px;
    height: 56px;
    gap: 38px;
    border-radius: 24px;
    padding: 14px;
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Green-400, #3d6463);
    background: var(--light-grey-100, #eaeaea);
  } */
  .like {
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Text-Title, #0f0f0e);
    /* margin-left: 2rem; */
    text-align: center;
  }
  .product-grid {
    display: flex;
    width: fit-content;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin: 0 auto;
    margin-left: 10rem;
    margin-top: 1rem;
  }
  .add-to-cart {
    width: 204px;
    height: 55px;
    gap: 10px;
    border-width: 1.5px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    background: #ffffff;
    border: 1.5px solid var(--Green-400, #3d6463);
    color: var(--Green-400, #3d6463);
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .buy-now {
    width: 194px;
    height: 55px;
    gap: 10px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background: var(--Green-500, #184645);
    border: none;
  }
  .title {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Green-500, #184645);
    /* margin-left: 2rem; */
    padding-top: 2rem;
    /* text-align: center; */
  }
}
@media screen and (max-width: 850px) {
  /* .product-details {
    display: flex;
    flex-direction: column;
  } */
  .product-inf {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--light-grey-300, #d7d7d7);
    border-radius: 2rem;
    /* width: 300px; */
    margin-left: -1.1rem;
  }
  .main-image {
    width: 340px;
    height: 606px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 1rem;
  }
  .thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
    margin-left: 1rem;
  }
  /* .free-delivery {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 260px;
    height: 76px;
    gap: 32px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 0.3rem;
    border: 1px solid var(--Green-50, #becbcb);
    margin-top: 3rem;
  }
  .deli1 {
    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Text-Subtitle, #242322);
  }
  .deli2 {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: var(--Text-Caption, #4d4c4a);
  }
  .quantity-box {
    width: 100.76470947265625px;
    height: 56px;
    gap: 38px;
    border-radius: 24px;
    padding: 14px;
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Green-400, #3d6463);
    background: var(--light-grey-100, #eaeaea);
  } */
  .like {
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Text-Title, #0f0f0e);
    /* margin-left: 2rem; */
    text-align: center;
  }
  .product-grid {
    display: flex;
    width: fit-content;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin: 0 auto;
    margin-left: 12rem;
    margin-top: 1rem;
  }
  .add-to-cart {
    width: 204px;
    height: 55px;
    gap: 10px;
    border-width: 1.5px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    background: #ffffff;
    border: 1.5px solid var(--Green-400, #3d6463);
    color: var(--Green-400, #3d6463);
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .buy-now {
    width: 194px;
    height: 55px;
    gap: 10px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background: var(--Green-500, #184645);
    border: none;
  }
  .title {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Green-500, #184645);
    /* margin-left: 2rem; */
    padding-top: 2rem;
    /* text-align: center; */
  }
}
@media screen and (max-width: 800px) {
  /* .product-details {
    display: flex;
    flex-direction: column;
  } */
  .product-inf {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--light-grey-300, #d7d7d7);
    border-radius: 2rem;
    /* width: 300px; */
    margin-left: -1.1rem;
  }
  .main-image {
    width: 340px;
    height: 606px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 1rem;
  }
  .thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
    margin-left: 1rem;
  }
  /* .free-delivery {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 260px;
    height: 76px;
    gap: 32px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 0.3rem;
    border: 1px solid var(--Green-50, #becbcb);
    margin-top: 3rem;
  }
  .deli1 {
    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Text-Subtitle, #242322);
  }
  .deli2 {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: var(--Text-Caption, #4d4c4a);
  }
  .quantity-box {
    width: 100.76470947265625px;
    height: 56px;
    gap: 38px;
    border-radius: 24px;
    padding: 14px;
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Green-400, #3d6463);
    background: var(--light-grey-100, #eaeaea);
  } */
  .like {
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Text-Title, #0f0f0e);
    /* margin-left: 2rem; */
    text-align: center;
  }
  .product-grid {
    display: flex;
    width: fit-content;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin: 0 auto;
    margin-left: 8rem;
    margin-top: 1rem;
  }
  .add-to-cart {
    width: 204px;
    height: 55px;
    gap: 10px;
    border-width: 1.5px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    background: #ffffff;
    border: 1.5px solid var(--Green-400, #3d6463);
    color: var(--Green-400, #3d6463);
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .buy-now {
    width: 194px;
    height: 55px;
    gap: 10px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background: var(--Green-500, #184645);
    border: none;
  }
  .title {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Green-500, #184645);
    /* margin-left: 2rem; */
    padding-top: 2rem;
    /* text-align: center; */
  }
}
@media screen and (max-width: 768px) {
  .product-details {
    display: flex;
    flex-direction: column;
  }
  .product-inf {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--light-grey-300, #d7d7d7);
    border-radius: 2rem;
    width: 80vw;
    margin-left: -1.1rem;
  }
  .main-image {
    width: 70vw;
    height: 606px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 1rem;
  }
  .thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
    margin-left: 1rem;
  }
  .free-delivery {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 380px;
    height: 76px;
    gap: 32px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 0.3rem;
    border: 1px solid var(--Green-50, #becbcb);
    margin-top: 3rem;
  }
  /* 
  .deli1 {
    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Text-Subtitle, #242322);
  }
  .deli2 {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: var(--Text-Caption, #4d4c4a);
  }
  .quantity-box {
    width: 100.76470947265625px;
    height: 56px;
    gap: 38px;
    border-radius: 24px;
    padding: 14px;
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Green-400, #3d6463);
    background: var(--light-grey-100, #eaeaea);
  } */
  .like {
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Text-Title, #0f0f0e);
    /* margin-left: 2rem; */
    text-align: center;
  }
  .product-grid {
    display: flex;
    width: fit-content;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin: 0 auto;
    margin-left: 2vw;
    margin-top: 1rem;
  }
  .add-to-cart {
    width: 204px;
    height: 55px;
    gap: 10px;
    border-width: 1.5px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    background: #ffffff;
    border: 1.5px solid var(--Green-400, #3d6463);
    color: var(--Green-400, #3d6463);
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .buy-now {
    width: 194px;
    height: 55px;
    gap: 10px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background: var(--Green-500, #184645);
    border: none;
  }
  .title {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Green-500, #184645);
    /* margin-left: 2rem; */
    padding-top: 2rem;
    /* text-align: center; */
  }
}
@media screen and (max-width: 650px) {
  .product-details {
    display: flex;
    flex-direction: column;
  }
  .product-inf {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--light-grey-300, #d7d7d7);
    border-radius: 2rem;
    width: 80vw;
    margin-left: -1.1rem;
  }
  .main-image {
    width: 70vw;
    height: 606px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 1rem;
  }
  .thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
    margin-left: 1rem;
  }
  .free-delivery {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 380px;
    height: 76px;
    gap: 32px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 0.3rem;
    border: 1px solid var(--Green-50, #becbcb);
    margin-top: 3rem;
  }
  /* 
  .deli1 {
    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Text-Subtitle, #242322);
  }
  .deli2 {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: var(--Text-Caption, #4d4c4a);
  }
  .quantity-box {
    width: 100.76470947265625px;
    height: 56px;
    gap: 38px;
    border-radius: 24px;
    padding: 14px;
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Green-400, #3d6463);
    background: var(--light-grey-100, #eaeaea);
  } */
  .like {
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Text-Title, #0f0f0e);
    /* margin-left: 2rem; */
    text-align: center;
  }
  .product-grid {
    display: flex;
    width: fit-content;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin: 0 auto;
    margin-left: 2vw;
    margin-top: 1rem;
  }
  .add-to-cart {
    width: 204px;
    height: 55px;
    gap: 10px;
    border-width: 1.5px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    background: #ffffff;
    border: 1.5px solid var(--Green-400, #3d6463);
    color: var(--Green-400, #3d6463);
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .buy-now {
    width: 194px;
    height: 55px;
    gap: 10px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background: var(--Green-500, #184645);
    border: none;
  }
  .title {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Green-500, #184645);
    /* margin-left: 2rem; */
    padding-top: 2rem;
    /* text-align: center; */
  }
}
@media screen and (max-width: 500px) {
  .thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
    margin-left: -1rem;
  }
  .product-details {
    display: flex;
    flex-direction: column;
  }
  .product-inf {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--light-grey-300, #d7d7d7);
    border-radius: 2rem;
    width: 350px;
    margin-left: -1.1rem;
  }
  .main-image {
    width: 322px;
    height: 606px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: -1.5rem;
  }
  .free-delivery {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 260px;
    height: 76px;
    gap: 32px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 0.3rem;
    border: 1px solid var(--Green-50, #becbcb);
    margin-top: 3rem;
  }
  .deli1 {
    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Text-Subtitle, #242322);
  }
  .deli2 {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: var(--Text-Caption, #4d4c4a);
  }
  .quantity-box {
    width: 100.76470947265625px;
    height: 56px;
    gap: 38px;
    border-radius: 24px;
    padding: 14px;
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Green-400, #3d6463);
    background: var(--light-grey-100, #eaeaea);
  }
  .like {
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Text-Title, #0f0f0e);
    /* margin-left: 2rem; */
    text-align: center;
  }
  .product-grid {
    display: flex;
    width: fit-content;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin: 0 auto;
    margin-left: 3.4rem;
  }
  .add-to-cart {
    width: 204px;
    height: 55px;
    gap: 10px;
    border-width: 1.5px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    background: #ffffff;
    border: 1.5px solid var(--Green-400, #3d6463);
    color: var(--Green-400, #3d6463);
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .buy-now {
    width: 194px;
    height: 55px;
    gap: 10px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background: var(--Green-500, #184645);
    border: none;
  }
  .title {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Green-500, #184645);
    /* margin-left: 2rem; */
    padding-top: 2rem;
    /* text-align: center; */
  }
}
@media screen and (max-width: 420px) {
  .thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
    margin-left: -1rem;
  }
  .product-details {
    display: flex;
    flex-direction: column;
  }
  .product-inf {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--light-grey-300, #d7d7d7);
    border-radius: 2rem;
    width: 300px;
    margin-left: -1.1rem;
  }
  .main-image {
    width: 322px;
    height: 606px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: -1.5rem;
  }
  .free-delivery {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 260px;
    height: 76px;
    gap: 32px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 0.3rem;
    border: 1px solid var(--Green-50, #becbcb);
    margin-top: 3rem;
  }
  .deli1 {
    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Text-Subtitle, #242322);
  }
  .deli2 {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: var(--Text-Caption, #4d4c4a);
  }
  .quantity-box {
    width: 100.76470947265625px;
    height: 56px;
    gap: 38px;
    border-radius: 24px;
    padding: 14px;
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Green-400, #3d6463);
    background: var(--light-grey-100, #eaeaea);
  }
  .like {
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Text-Title, #0f0f0e);
    /* margin-left: 2rem; */
    text-align: center;
  }
  .product-grid {
    display: flex;
    width: fit-content;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin: 0 auto;
    margin-left: 3.4rem;
  }
  .add-to-cart {
    width: 204px;
    height: 55px;
    gap: 10px;
    border-width: 1.5px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    background: #ffffff;
    border: 1.5px solid var(--Green-400, #3d6463);
    color: var(--Green-400, #3d6463);
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .buy-now {
    width: 194px;
    height: 55px;
    gap: 10px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background: var(--Green-500, #184645);
    border: none;
  }
  .title {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Green-500, #184645);
    /* margin-left: 2rem; */
    padding-top: 2rem;
    /* text-align: center; */
  }
}
@media screen and (max-width: 400px) {
  .thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
    margin-left: -1rem;
  }
  .product-details {
    display: flex;
    flex-direction: column;
  }
  .product-inf {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--light-grey-300, #d7d7d7);
    border-radius: 2rem;
    width: 300px;
    margin-left: -1.1rem;
  }
  .main-image {
    width: 322px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: -1.5rem;
  }
  .free-delivery {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 260px;
    height: 76px;
    gap: 32px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 0.3rem;
    border: 1px solid var(--Green-50, #becbcb);
    margin-top: 3rem;
  }
  .deli1 {
    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Text-Subtitle, #242322);
  }
  .deli2 {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: var(--Text-Caption, #4d4c4a);
  }
  .quantity-box {
    width: 100.76470947265625px;
    height: 56px;
    gap: 38px;
    border-radius: 24px;
    padding: 14px;
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Green-400, #3d6463);
    background: var(--light-grey-100, #eaeaea);
  }
  .like {
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -2%;
    vertical-align: middle;
    color: var(--Text-Title, #0f0f0e);
    /* margin-left: 2rem; */
    text-align: center;
  }
  .product-grid {
    display: flex;
    width: fit-content;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin: 0 auto;
    margin-left: 1.8rem;
  }
  .add-to-cart {
    width: 204px;
    height: 55px;
    gap: 10px;
    border-width: 1.5px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    background: #ffffff;
    border: 1.5px solid var(--Green-400, #3d6463);
    color: var(--Green-400, #3d6463);
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .buy-now {
    width: 194px;
    height: 55px;
    gap: 10px;
    border-radius: 30px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background: var(--Green-500, #184645);
    border: none;
  }
  .title {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--Green-500, #184645);
    /* margin-left: 2rem; */
    padding-top: 2rem;
    text-align: center;
  }
}
