* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.admin-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-left: 2rem;
  /* width: 100%; */
}
.left-admin-nav {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 24px;
  margin-left: 50vw;
}
